@import './remEmMixin.scss';
@import url(https://fonts.googleapis.com/css?family=Poppins:300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

$mFontFamily:"Poppins";
$sFontFamily:"Montserrat";
body {
    background-color: #FFF;
    color: #000;
    font-family: $mFontFamily;
    font-weight: 400;
}
.container {
    max-width: rem(1280);
    margin: 0 auto;
}
.wrapper {
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 rem(15);
    height: rem(100);

	&_icon-list {
        display:flex;
        gap: rem(45);
	}
    &__nav {

    }
	&__logo {
	}
	&__icons {
        
	}
	&__icon {
	}
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: rem(5);
    & div {
        color: #000;
        font-family: $sFontFamily;
        font-size: rem(34);
        font-weight: 700;
    }
}
.nav {

		&__list {
            display: flex;
            gap: rem(75);
		}

		&__link {
            font-weight: 500;
		}
}
.main {

    &__hero {
        position: relative;
        width: 100%;
        height: rem(716.83);
    }

    &__container-hero {
        display: flex;
        justify-content: flex-end;
        width: rem(1380);
        margin: 0 auto;
    }

    &__visit {
        margin-top: rem(150);
        border-radius: 10px;
        background: #FFF3E3;
        width: rem(640);
        height: rem(440);
    }

    &__new-arrival {
        color: #333;
        font-size: rem(16);
        font-weight: 600;
        letter-spacing: rem(3);
        padding: rem(60) rem(5) 0 rem(40) ;
    }

    &__slogan {
        color: #B88E2F;
        font-size: rem(52);
        font-weight: 700;
        line-height: 125%;
        text-transform: capitalize;
        padding-bottom: rem(18);
        padding-left: rem(40);
        padding-right: rem(40);
    }

    &__visit-paragraph {
        color: #333;
        font-size: rem(18);
        font-weight: 500;
        line-height: 133.333333%;
        padding-left: rem(40);
        padding-bottom: rem(45);
    }

    &__primary-button {
        margin-left: rem(40);
        text-transform: uppercase !important;
    }
    &__background-hero {
        position: absolute;
        left: 0;
        top: 0;
        height: rem(716.83);
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }
    &__browse-range {
        padding: rem(55) 0;
        margin: 0 auto;
    }
    &__product-examples {
        padding-bottom: rem(69);
    }
    &__inspirations {
    }
    &__gallery {
    }
}
.primary-button {
    background: #B88E2F;
    font-weight: 700;
    padding: rem(25) rem(72);
    color: #FFF;
    text-transform: capitalize;
    &_border {
        font-weight: 600;
        line-height: 150%;
        border: 1px solid #B88E2F;
        color: #B88E2F;
        background: #FFF;
        padding: rem(12) rem(78);
    }
}
.logo-icon {
    width: rem(50);
    height: rem(32);
}
.header__icon {
    & svg {
        width: rem(28);
        height: rem(28);
    }
}
.browse-range {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        font-weight: 700;
        font-size: rem(32);
        color: #333;
        text-transform: capitalize;
    }
    &__subtitle {
        font-size: rem(20);
        color: #666;
        margin-bottom: rem(62);
    }
    &__block {
        display: flex;
        justify-content: center;
        gap: rem(20);
    }
    & figure {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(30);
    } 
    & figcaption {
        font-size: rem(24);
        font-weight: 600;
        color: #333;
    }
}
.product-examples {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        color: #3A3A3A;
        font-size: rem(40);
        font-weight: 700;
        line-height: 120%;
        margin-bottom: rem(32);
    }
    &__border-button {
        margin-top: rem(32);
    }

    &__cards {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: rem(32);
    }

    &__card {
    }
}
.card {
    background-color: #F4F5F7;
    width: rem(285);
    &__title {
        padding-left: rem(16);
        color: #3A3A3A;
        font-size: rem(24);
        font-weight: 600;
        line-height: 120%; 
        padding-top: rem(16);
    }
    & img {
        height: rem(301);
        object-fit: cover;
    }
    &__description {
        padding-left: rem(16);
        color: #898989;
        font-weight: 500;
        line-height: 150%;
        padding-top: rem(8);
        padding-bottom: rem(8);
    }

    &__price {
        padding-left: rem(16);
        color: var #3A3A3A;
        font-size: rem(20);
        font-weight: 600;
        line-height: 150%;
        padding-bottom: rem(30);
    }
}
.inspirations {
    overflow: hidden;
    height: rem(670);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #FCF8F3;
    margin-bottom: rem(67);
    &__text-block {
        position: absolute;
        left: rem(100);
        top: rem(200);
        background-color: rgba(252, 248, 243, 0.5);
        width: rem(442);
        padding: rem(10);
        z-index: 2;
    }

    &__title {
        color: #3A3A3A;
        font-size: rem(40);
        font-weight: 700;
        line-height: 120%;
        
    }

    &__description {
        font-weight: 500;
        line-height: 150%;
        color: #616161;
        padding-bottom: rem(25);
        padding-top: rem(7);
    }

    &__button {
        font-weight: 600;
        line-height: 150%;
        color: #FFF;
        padding: rem(12) rem(32);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__slider {
        position: absolute;
        left: rem(564);
        top: rem(44);
    }

    &__arrow {
        width: rem(48);
        height: rem(48);
        background-color: #FFF;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;
        &-right {
            margin-right: rem(30);
        }
        &-left {
            margin-left: rem(30);
        }
        &-left-svg {
            rotate: 180deg;
        }
        &-right-svg {
        }
    }
    
    &__points {
        position: absolute;
        top: rem(570);
        left: rem(992);
        display: flex;
        gap: rem(20);
        ._onHover {
            width: rem(27);
            height: rem(27);
            background-color: #B88E2F;
            border-radius: 50%;
            box-shadow: 0 0 0 rem(6.5) #f3f5f6 inset;
            border: rem(2) solid rgba(184, 142, 47, 0.7);
            translate: rem(-8.5) rem(-8.5);
            transition: all 0.4s ease;
        }
        div:not(._onHover) {
            translate: rem(-8.5) 0;
        }
    }

    &__point {
        background-color: #D8D8D8;
        width: rem(11);
        height: rem(11);
        border-radius: 50%;
        transition: all 0.4s ease;;
    }
}
.primary-button {
}
.slider {
    transition: left 0.8s ease;

    &__text-block {
        display: grid;
        grid-template-columns: rem(24) rem(35) auto;
        grid-template-rows: rem(24) rem(34);
        align-items: center;
        padding: rem(32) 0 rem(32) rem(32);
        row-gap: rem(8);
    }

    &__number,
    &__line,
    &__room-name {
        grid-column: span 1;
    }

    &__quote {
        grid-column: span 3;
        font-size: rem(28);
        font-weight: 600;
        line-height: 120%;
    }
    &__room-name,
    &__number {
        font-weight: 500;
        line-height: 150%;
    }
    &__image-block {
        position: relative;
    }

    &__images {
        display: flex;
        gap: rem(24);
        & > div:not(.slider__main-image, .slider__viewed) {
            transition: all 0.8s ease;
            width: rem(372);
            height: rem(486);
            position: relative;
            .slider__image {
                transition: all 0.8s ease;
                height: rem(486);
                min-width: rem(372);
                max-width: rem(372);
                object-fit: cover;
            }
            .slider__text-block {
                visibility: hidden;
                background: rgba(255, 255, 255, 0.01);
                color: rgb(97, 97, 97, 0.01);
                transition: all 0.8s ease;
                position: absolute;
                bottom: rem(24);
                left: rem(24);
                width: rem(217);
                height: rem(130);
                .slider__quote {
                    transition: color 0.8s ease;
                    color: rgba(58, 58, 58, 0.01);
                }
                .slider__line path {
                    transition: stroke 0.8s ease;
                    stroke: rgba(97, 97, 97, 0.01);
                };
            };
            .slider__arrow-block {
                transition: all 0.8s ease;
                visibility: hidden;
                position: absolute;
                top: rem(414);
                left: rem(241);
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(184, 142, 47, 0.01);
                z-index: 4;
                padding: rem(12);
                width: rem(48);
                height: rem(48);
                .slider__arrow-content path {
                    transition: stroke 0.8s ease;
                    stroke: rgba(255, 255, 255, 0.01);
                }
            }
        }
        .slider__viewed, .slider__main-image {
            transition: all 0.8s ease;
            height: rem(582);
            width: rem(404);
            position: relative;
            .slider__image {
                transition: all 0.8s ease;
                height: rem(582);
                min-width: rem(404);
                max-width: rem(404);
                object-fit: cover;
            }
            .slider__text-block {
                background: rgba(255, 255, 255, 0.72);
                backdrop-filter: blur(rem(1.5));
                transition: all 0.8s ease;
                position: absolute;
                bottom: rem(24);
                left: rem(24);
                width: rem(217);
                height: rem(130);
                color: #616161;
                .slider__quote {
                    transition: color 0.8s ease;
                    color: rgb(58, 58, 58);
                }
                .slider__line path {
                    transition: stroke 0.8s ease;
                    stroke: #616161;
                };
            }
            .slider__arrow-block {
                position: absolute;
                top: rem(510);
                left: rem(241);
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.8s ease;
                background-color: rgba(184, 142, 47, 1);
                z-index: 4;
                padding: rem(12);
                width: rem(48);
                height: rem(48);
                .slider__arrow-content path {
                    transition: stroke 0.8s ease;
                    stroke: rgba(255, 255, 255, 1);
                }
            }
        }
    }
}

.gallery {
    position: relative;
    height: rem(780);
    padding-bottom: rem(50);
    overflow: hidden;
    margin-bottom: rem(50);
    &__pre-title {
        color: #616161;
        text-align: center;
        font-size: rem(20);
        font-weight: 600;
        line-height: 150%;
        padding: rem(8);
    }

    &__title {
        color:  #3A3A3A;
        text-align: center;
        font-size: rem(40);
        font-weight: 700;
        line-height: 120%;
    }

    &__gallery-container {
        position: absolute;
        top: rem(73);
        left: 50%;
        display: flex;
        transform: translateX(-50%);
    }
    &__middle-image {
        display: flex;
        align-items: center;
        min-width: rem(295);
        min-height: rem(392);
        margin: rem(16);
        img {
            object-fit: cover;
        }
    }
}
.right-images-gallery {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: max-content;
    gap: rem(16);
    &__upperImages {
        display: flex;
        align-items: end;
        gap: rem(16);
    }
    &__bottomImages {
        display: flex;
        align-items: start;
        gap: rem(16);
    }
}
.left-images-gallery {
    display: flex;
    flex-direction: column;
    width: max-content;
    align-items: end;
    gap: rem(16);
    &__upperImages {
        display: flex;
        align-items: end;
        gap: rem(16);
    }
    &__bottomImages {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: rem(16);
    }
}
.footer {
    display: flex;
    flex-direction: column;
    padding: rem(48) rem(100) 0;
    h5[class$="-title"] {
        color: #9F9F9F;
        font-weight: 500;
    }
    div[class*="-column"] {
        display: flex;
        flex-direction: column;
        gap: rem(55);
        & h5 {
            color: #9F9F9F;
            font-weight: 500;
        }
        & > ul {
            display: flex;
            flex-direction: column;
            gap: rem(46);
        }
    }
    &__upper-footer {
        display: flex;
        gap: rem(140);
        height: rem(408);
    }
    &__logo {
        color: #000;
        font-size: rem(24);
        font-weight: 700;
    }
    &__adres {
        color: #9F9F9F;
    }
    &__link {
        font-weight: 500;
    }
    &__bottom-footer {
        & > * {
            padding: rem(35) 0;
        }
    }
    &__line {
        height: rem(1);
        padding: 0 rem(100);
        background-color: black;
    }
    &__form {
        display: flex;
        align-items: flex-end;
    }
    &__submit-input {
        border-bottom: rem(1) solid black;
        padding-bottom: rem(3);
        font-weight: 500;
        text-transform: uppercase;
    }
    &__email-input {
        border-bottom: rem(1) solid black;
        width: rem(200);
        padding-bottom: rem(3);
        margin-right: rem(10);
        font-size: rem(14);
    }
}
.form-sending {
    opacity: 0.5;
    pointer-events: none;
}

